/* general styles */
.main-shop-list {
    display: flex;
    gap: 40px;
    padding: 40px 0;
}
.name-page {
    font-family: var(--myFont);
    color: var(--colorBlack);
    font-size: 32px;
}
.blue-color {
    color: var(--colorHead);
}
.shopping-list {
    flex: 1;
    max-width: 100%;
}
.list-all-image-support {
    gap: 40px;
}
.link-shop-list-menu-desktop.active-shop-list {
  padding: 5px 15px;
  background-color: var(--colorYellow);
  border-radius: 15px;
  font-weight: 700;
}
.dark .link-shop-list-menu-desktop.active-shop-list,
.dark .link-shop-list-menu-desktop.active-shop-list #svg-handbagr use {
    color: black;
    fill: black;
}

.menu .link-shop-list-menu-desktop.active-shop-list,
.menu .link-shop-list-menu-desktop.active-shop-list #svg-handbagr use {
    color: black;
    fill: black;
}

.modal-open {
    overflow-y: hidden;
}

/* support ukraine */
.is-shop-list {
    display: none;
}

/* list books styles */
.list-books {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 20px 0;
}
.list-books li {
    background-color: var(--colorWhite);
}
.list-books-shop-list {
    display: flex;
    gap: 14px;
    padding: 14px;

    border: 3px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
}
.main-container-shop-list {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-shop-list {
    width: 100px;
    height: 142px;
}
.empty-shop-list {
    width: 335px;
    margin: auto;
    padding-top: 80px;
}
.empty-shop-list p {
    font-family: var(--myFont);
    color: var(--colorBlack);
    text-align: center;
}

/* styles text book */
.title {
    font-size: 16px;
    color: var(--colorBlack);
    font-weight: 600;
    font-family: var(--myFont);
}
.list-name {
    font-size: 12px;
    color: var(--colorGray);
    font-family: var(--myFont);    
    line-height: 117%;
    letter-spacing: 0.03em;
}
.author-links-shop-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}
.author {
    font-family: var(--myFont);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.04em;
    color: var(--colorGray);
    display: inline;
    flex: 1;
}
.main-container-shop-list p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-container-shop-list p.description-shop-list {
    font-family: var(--myFont);
    font-size: 14px;
    color: var(--colorBlack);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: wrap;
    line-height: 129%;
    letter-spacing: -0.04em;

    margin-top: 10px;
}
.top-content-shop-list {
    display: flex;
    justify-content: space-between;
}
.text-book-container {
    max-width: 80%;
}

/* pagination */
.svg-li-pagination-container,
.li-pagination-container {
    display: flex;
    gap: 10px;
}
.pagination {
    gap: 20px;
    justify-content: center;
}
.pagination li {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* dark */
.pagination li.page-li-pagination, 
.page-li-pagination-hidden-el-r,
.page-li-pagination-hidden-el-l  {
    border: 2px solid var(--colorBlackToWhite);
    background-color: var(--colorModal);
    color: var(--colorModalText);
}

/* pag background */
.svg-li-pagination-container li {
    background-color: var(--colorYellow);
}

.dark .svg-li-pagination-container li{
    border: 2px solid var(--colorDark);
}
.pagination li {
    font-family: var(--myFont);
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;

    transition: background-color 0.5s ease;
    cursor: pointer;
}
.pagination li:hover {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    stroke: var(--colorWhite);
}

/* style images-link */
.link-container-shop-list {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    width: 60px;
}
.dark .link-container-shop-list img {
    filter: invert(1);
}
/* change image hover */
.link-container-shop-list img {
    border-radius: 0;
    filter: grayscale(100%);
    max-width: 100%;
}
.link-container-shop-list img:hover {
    filter: drop-shadow(0px 3px 1px rgba(0,0,0,.35));
}
.dark .link-container-shop-list img:hover{
    filter: invert(1) drop-shadow(0px 3px 1px rgba(255, 255, 255, 0.35));
  }

/* icon blocks */
.icon-shop-list {
    width: 28px;
    height: 28px;
}
.icon-shop-list use{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    fill:#4F2EE8;
    transition: fill .3s linear;
}
.dark .icon-shop-list use{
    fill: black;
}
.icon-shop-list:hover use {
    cursor: pointer;
    fill: red;
}
.icon-pagination {
    width: 22px;
    height: 22px;
}
.svg-li-pagination-l svg{
    transform: rotate(180deg);
}

.svg-li-pagination-r.last use + use{
    margin-left: 5px;
}

/* move style */
.page-one {
    background-color: var(--colorBlackToWhite) !important;
    color: var(--colorWhite) !important;
}

/* tablet and desctop styles media */
@media (min-width: 768px) and (max-width: 1440px) {
    .name-page {
        font-size: 48px;
    }

    .link-container-shop-list {
        gap: 15px;
        width: 100px;
    }
    .author, .list-name {
        font-size: 14px;
    }

    .image-shop-list {
        width: 116px;
        height: 165px;
    }
    .icon-shop-list {
        width: 32px;
        height: 32px;
        align-self: flex-start;
    }
    /* pagination */
    .pagination li {
        width: 44px;
        height: 44px;
    }
    /* pagination icon */
    .icon-pagination {
        width: 24px;
        height: 24px;
    }
    /* empty */
    .empty-shop-list {
        padding-top: 100px;
    }
}
@media (min-width: 1440px) {
    .name-page {
        font-size: 48px;
    }

    /* icons */
    .link-container-shop-list {
        gap: 15px;
        width: 110px;
    }
    .author, .list-name {
        font-size: 14px;
    }
    .icon-shop-list {
        width: 36px;
        height: 36px;
        align-self: flex-start;
    }
    /* main image */
    .image-shop-list {
        width: 116px;
        height: 165px;
    }

    /* pagination */
    .pagination li {
        width: 44px;
        height: 44px;
    }
    /* pagination icon */
    .icon-pagination {
        width: 24px;
        height: 24px;
    }
    /* support ukraine */
    .support-ukraine {
        width: 356px;
        height: 474px;
    }
    
    /* support ukraine */
    .is-shop-list {
        display: block;
    }
}