<h1 id="list-name" class="name-category"></h1>

<form class="form_images">
  <input class="input_searching" name="input_name" placeholder="Search books..."/>
  <button type="submit" class="button_submit">Search</button>
</form>

<div class="orientation">
  <svg class="svg-list-orientation">
    <use href="./img/blocks.svg#list"></use>
  </svg>
  <svg class="svg-square-grid-orientation">
    <use href="./img/blocks.svg#square-grid"></use>
  </svg>
</div>

<div class="container-loader">
  <span class="loader"></span>
</div>

<ul class="list-one"></ul>
<div class="for-button"></div>

<div class="button-loader">
  <div class="container-loader">
    <span class="loader black-white"></span>
  </div>
</div>