<!-- <section class="sign-up">
    <div class="container-sign">
        <form action="">
            <svg class="close-window" fill="none">
                <use id="close-window" href="${sprite}#close"></use>
            </svg>
            <input type="text" name="" id="">
            <input type="email" name="" id="">
            <input type="password" name="" id="">
            <button type="submit"></button>
            <div class="sign-in-up">
                <button type="button"></button>
                <button type="button"></button>
            </div>
        </form>
    </div>
</section> -->