<div class="support-ukraine">
    <div class="list-all-image-support">
        <div class="main-image-supp-ua">
            <img class="img-support-ukraine" src="./img/main-image.png" srcset="./img/main-image.png 1x, ./img/main-image-2x.png 2x" alt="support ukraine">
        </div>

        <div class="scroll-container-support-ukraine">
            <ul class="container-image-support-ukraine"></ul>
        </div>

        <button class="button-supp-uk" type="button">
            <svg class="icon-supp-uk" fill="none">
                <use class="icon-supp-uk" href="./img/blocks.svg#arrow"></use>
            </svg>
        </button>
    </div>
</div>