@import url(./books-list.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main-content.css);
@import url(./modal-window.css);
@import url(./scroll-up.css);
@import url(./sign-up.css);
@import url(./support-ukraine.css);
@import url(./shopping-list.css);
@import url(./list-categories.css);
@import url(./loader.css);

* {
    box-sizing: border-box;
}

:root {
    --myFont: 'DM Sans';
    --colorBlue: #4F2EE8;
    --colorYellow: #EAC645;
    --colorBlack: #202024;
    --colorGray: #b30d0d;
    --colorWhite: #ffffff;
    --colorBody: #f6f6f6;
}

body {
    background-color: var(--colorBody);
}
/* styles scrollbar body */
body::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
}
body::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    object-fit: cover;
    border-radius: 8px;
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 375px;
    padding: 0 20px;
    margin: auto;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 24px;
    }
}