<section class="header">
    <div class="container">
        <div class="main-header">
            <div class="left-part-header">
                <div class="logo-container">
                    <a href="../index.html">
                        <svg id="logo-svg">
                            <use href="../img/blocks.svg#logo"></use>
                        </svg>Bookshelf
                    </a>
                </div>

                <div class="menu-container-desktop">
                    <a class="active-home" href="../index.html">Home</a>
                    
                    <a class="link-shop-list-menu-desktop active-shop-list" href="../shopping-list.html">Shopping list
                        <svg id="svg-handbagr">
                            <use href="../img/blocks.svg#handbagr"></use>
                        </svg>
                        <span class="span-counter"></span>
                    </a>
                </div>
            </div>

            <div class="menu-container">
                <label class="switch">
                    <input class="check" type="checkbox">
                    <span class="slider round"></span>
                </label>

                <div>
                    <button type="button">
                        <img style="display: none;" src="" alt="">
                        <p>Sign up</p>
                        <svg id="svg-sign-up">
                            <use href="../img/blocks.svg#arr-sign-up"></use>
                        </svg>
                    </button>

                    <svg class="svg-menu-mobail" id="svg-burger">
                        <use id="burger" href="../img/blocks.svg#burger"></use>
                        <use id="close" href="../img/blocks.svg#close"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="menu">
    <div class="container menu-heig">
        <div class="menu-container-mobail menu-heig">
            <div class="menu-container-desktop mobail-version">
                <a class="active-home" href="../index.html">Home</a>
                
                <a class="link-shop-list-menu-desktop active-shop-list" href="../shopping-list.html">Shopping list
                    <svg id="svg-handbagr">
                        <use href="../img/blocks.svg#handbagr"></use>
                    </svg>
                    <span class="span-counter"></span>
                </a>
            </div>
    
            <button type="button">
                <p>Sign up</p>
                <svg id="svg-sign-up">
                    <use href="../img/blocks.svg#arr-sign-up"></use>
                </svg>
            </button>
        </div>
    </div>
</div>